# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Install Saxon-HE, Build/Test with Ant
        run: |
          mvn dependency:get -DgroupId=net.sf.saxon -DartifactId=Saxon-HE -Dversion=9.9.0-2 -Dpackaging=jar
          cp /home/runner/.m2/repository/net/sf/saxon/Saxon-HE/9.9.0-2/Saxon-HE-9.9.0-2.jar /usr/share/ant/lib/saxon9he.jar
          ant test
